.hero {
	max-width: 1440px;
	min-height: 600px;
	padding: 188px 0;
	margin-right: auto;
	margin-left: auto;
	background-color: var(--primary-color-text);
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/hero/hero-fon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero-title {
	max-width: 585px;
	margin: 0 auto 48px;

	font-weight: 700;
	font-size: 56px;
	line-height: 1.07; /* 60/56 */
	letter-spacing: 0.02em;
	color: var(--main-white-color);
}
.btn {
	min-width: 169px;
	padding: 16px 32px;
	margin: 0 auto;
	border: transparent;

	font-family: var(--main-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	letter-spacing: 0.04em;
	background-color: var(--iris-color);
	color: var(--main-white-color);

	box-shadow: var(--btn-shadow);
}
.btn:hover,
.btn:focus {
	background-color: var(--ocean-color);
}

.section-title {
	margin-bottom: 72px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.1; /* 40/36 */
	letter-spacing: 0.02em;

	text-transform: capitalize;
}
.advantages-list {
	display: flex;
	align-items: center;
}
.advantages-item {
	width: 264px;
	margin-right: var(--card-gap);
}
.advantages-item:last-child {
	margin-right: 0;
}
.advantages-list .title {
	margin-bottom: 8px;
}
.advantages-list .title,
.team-info .title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2; /* 24/20 */
	letter-spacing: 0.02em;
}
.advantages-list .text,
.team-info .text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	letter-spacing: 0.02em;
	color: var(--secondary-color-text);
}

.section.technologies {
	padding-top: 0;
}
.technologies-list {
	display: flex;
}
.technologies-item:not(:last-child),
.team-item:not(:last-child) {
	margin-right: var(--card-gap);
}

.team {
	background-color: var(--text-cloud-color);
}
.team-list {
	display: flex;
	align-items: center;
}
.team-item {
	border-radius: var(--team-radius);
	background-color: var(--main-white-color);
	box-shadow: var(--team-shadow);
}
.team-info {
	padding: 32px 16px;
}
.team-info .title {
	margin-bottom: 8px;
}
