/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* белый #FFFFFF */

/* акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

header {
  display: block;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.logo {
  font-family: Raleway;
}

.image {
  display: block;
}

/* Применится ко всем тегам с классом ul */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Применится ко всем тегам с классом h и p */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Применится ко всем тегам с классом a */

.section-menu a,
.section-contacts a,
.contacts a {
  text-decoration: none;
  list-style: none;
}

/* Site Nav */

header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent-color);
}

.logo span {
  color: #000000;
}

.logo:hover,
.logo:focus {
  cursor: pointer;
}

/* nav-section */

.section-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 0 0 93px;
}

.section-menu .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.section-menu .item:last-child {
  margin-right: 0;
}

.section-menu .item .link.current {
  color: var(--accent-color);
}

.section-menu .item .link:hover,
.section-menu .item .link:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.section-menu .item .link {
  color: var(--primary-text-color);
}

.section-contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.section-contacts .item {
  margin-right: 50px;
}

.section-contacts .item:last-child {
  margin-right: 0;
}

.section-contacts .item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-contacts-mail,
.section-contacts-nomer {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.section-contacts-mail:hover,
.section-contacts-mail:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.section-contacts-nomer:hover,
.section-contacts-nomer:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* Footer */

.footer-container {
  display: block;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent-color);
  background: #2f303a;
}

.footer span {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
}

.footer:hover,
.footer:focus {
  cursor: pointer;
}

/* Contacts */

.contacts {
  font-family: Roboto, sans-serif;
  font-style: normal;
  display: block;
  margin-top: 20px;
}

.contacts .address {
  margin-bottom: 9px;
}

.contacts .address:last-child {
  margin-bottom: 0;
}

.contacts .item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.contacts .item:hover,
.contacts .item:focus {
  cursor: pointer;
}

.contacts .mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.contacts .tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts .mail:hover,
.contacts .mail:focus {
  cursor: pointer;
}

.contacts .tel:hover,
.contacts .tel:focus {
  cursor: pointer;
}
